
<ion-view>
    <ion-nav-bar>
      <ion-nav-back-button class="button-clear" style='color:black' ng-click="backComment()">
          Retour
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <div class="list card">

            <div class="item"> 
            <h2>{{ comment.title }}</h2>
            <p>{{ comment.timestamp * 1000 | date:'yyyy-MM-dd HH:mm:ss' }} - {{ comment.name }}</p>
            </div>

            <div class="item item-body">
            <p>{{ comment.content }}</p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#" ng-click="rateP()">
                    <i class="icon ion-thumbsup" style='color:{{ alreadyRated == 1 ? "green" : "gray" }}'></i>
                    Pos
                </a>
                <a class="tab-item" href="#" ng-click="rateN()">
                    <i class="icon ion-thumbsdown" style='color:{{ alreadyRated == -1 ? "red" : "gray" }}'></i>
                    Neg
                </a>
                <a class="tab-item" href="#" ng-click="report()">
                    <i class="icon ion-share"></i>
                    Signaler
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
