<ion-view>
<ion-nav-bar>
  <ion-nav-back-button class="button-clear" style='color:black' ng-click="backReload()">
      Retour
  </ion-nav-back-button>
</ion-nav-bar>
    <ion-content>
        <form name="sendData">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Nom</span>
                    <input type="text" placeholder="Votre nom" ng-model="comment.name">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Titre</span>
                    <input type="text" placeholder="Le titre" ng-model="comment.title">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Commentaire</span>
                    <textarea style="height:150px;" ng-model="comment.content"></textarea>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="name@mail.dom" ng-model="comment.mail">
                </label>
            </div>
            <button class="button button-full button-royal" ng-click="sendComment(comment)">
                Envoyer
            </button>
        </form>
    </ion-content>
</ion-view>