
<ion-view view-title="Commentaire" ng-init="orderList='-fields.rate'">
    <ion-nav-buttons side="right">
          <button class="button" ng-click="orderComment(0)" style="margin-right:5px;font-size:20px;">
            <i class="ion-ios-star"></i>
          </button>
          <button class="button" ng-click="orderComment(1)" style="margin-right:5px;font-size:20px;" ng-init="isTime=0">
            <i class="ion-ios-timer"></i>
          </button>
          <button class="button" ng-click="refreshComment()" style="margin-right:5px;font-size:20px;">
            <i class="ion-refresh"></i>
          </button>
    </ion-nav-buttons>
    <ion-content>
        <button class="button button-full button-royal" ng-click="newComment()">
          Nouveau commentaire
        </button>
        <div class="list">
            <div class="item item-button-right"
                 ng-repeat="item in comments | orderBy: orderList"
                 ng-click="readComment(item.pk)">
            <table>
                <tr>
                    <td><center><i class="icon ion-arrow-up-b" style="color:{{ item.fields.rate > 0 ? '#2Ecc71' : '#BDC3C7' }};font-size:30px;"></i><br />{{ item.fields.rate }}<br /><i class="icon ion-arrow-down-b" style="color:{{ item.fields.rate < 0 ? '#D64541' : '#BDC3C7' }};font-size:30px;"></i></center></td>
                    <td style="padding-left:20px;"><b>{{ item.fields.title }} </b><br />{{ item.fields.name }}<br />{{ item.fields.timestamp * 1000 | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                </tr>    
            </table>
            </div>
        </div>
    </ion-content>
</ion-view>