
<ion-view view-title="{{batiment.titre}}">
    <ion-nav-buttons side="right">
          <button class="button" ng-click="addToFav()" style="margin-right:5px;font-size:20px;">
            <i class="ion-star" style='color:{{ isFav == true ? "#F4D03F" : "#BFBFBF" }}'></i>
          </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
            <ion-slide ng-repeat="item in listPhoto">
                <div class="box-image-bg">
                    <center><img class="box-image" src="{{ ipServer }}/static/{{ batiment.id_batiment }}/{{ item }}" /></center>
                </div>
            </ion-slide>
        </ion-slide-box>
        <div class="card">
            <div class="item item-divider">
                Description
            </div>
            <div class="item item-text-wrap">
                {{batiment.description}}
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                Accessibilité
            </div>
            <div class="item item-text-wrap">
                <a ng-show="handiVide"><center>Aucune information</center></a>
                <a href="#" class="item item-icon-left" ng-repeat="item in handi | filter:{show: true}" ng-click="openModal('{{ item.plus }}', '{{ item.moins }}')">
                    <i class="icon ion-ios-circle-filled" style="color:{{ item.color }};"vagr></i>
                    {{item.content}}
                </a>
            </div>
        </div>
    <button class="button button-full button-royal" ng-click="urlComment()">
    Comment({{ commentCount }})
    </button>
    <button class="button button-full button-dark" ng-click="urlTransport()">
    Transport
    </button>
    <script id="detail-modal.html" type="text/ng-template">
        <div class="modal">
            <ion-header-bar>
                <h1 class="title">Information</h1>
            </ion-header-bar>
            <ion-content>
                <h1 class="title">Points Positif</h1>
                <div>
                    {{ modalPlus }}
                </div>
                <h1 class="title">Points négatif</h1>
                <div>
                    {{ modalMoins }}
                </div>
                <button class="button button-full button-energized" ng-click="closeModal()">Fermer</button>
            </ion-content>
        </div>
    </script>
    </ion-content>
</ion-view>
