
<ion-view view-title="{{ btmTitle }}" >
    <ion-nav-buttons side="right">
          <button class="button" ng-click="addToFav()" style="margin-right:5px;font-size:20px;">
            <i class="ion-star" style='color:{{ isFav == true ? "#F4D03F" : "#BFBFBF" }}'></i>
          </button>
    </ion-nav-buttons>
    <ion-content>
        <div ng-show="loadingScreen" class="card" style="margin-top:25%;background-color:#6C7A89;">
            <div class="item item-text-wrap" style="text-align:center;background-color:#6C7A89;color:white;">
                Chargement en cours ...
            </div>
        </div>
        <ion-slide-box  ng-show="dataScreen" show-pager="false" on-slide-changed="slideHasChanged($index)">
            <ion-slide ng-repeat="item in batiment.media">
                <div class="box-image-bg">
                    <center><img class="box-image" src="{{ item }}" /></center>
                </div>
            </ion-slide>
        </ion-slide-box>
        <div class="card" ng-show="dataScreen">
            <div class="item item-divider" style="background-color:#6C7A89;color:white;">
                Description
            </div>
            <div class="item item-text-wrap">
                {{batiment.description}}
            </div>
        </div>
        <div class="card" ng-show="dataScreen">
            <div class="item item-divider" style="background-color:#6C7A89;color:white;">
                Accessibilité
            </div>
            <div class="item item-text-wrap" style="padding:0px;">
                <div class="list">
                    <div ng-repeat="item in batiment.accessibility">
                        <div class="item item-divider">
                            {{ item.name }}
                        </div>
                        <a class="item" href="#" ng-repeat="child in item.data">
                            {{ child }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" ng-show="dataScreen">
            <div class="item item-divider" style="background-color:#6C7A89;color:white;">
                Evaluation
            </div>
            <div class="item item-text-wrap" style="padding:0px;">
                <div class="list">
                    <a class="item item-icon-left" href="#">
                    <i class="icon ion-medkit"></i>
                        Niveau d'accessibilité
                    <span class="badge badge-{{ batiment.accessibility_rating > 5 ? batiment.accessibility_rating > 8 ? 'balanced' : 'energized' : 'assertive' }}">{{ batiment.accessibility_rating }} / 10</span>
                    </a>
                    <a class="item item-icon-left" href="#">
                    <i class="icon ion-person-stalker"></i>
                        Niveau de reception
                    <span class="badge badge-{{ batiment.accessibility_rating > 5 ? batiment.accessibility_rating > 8 ? 'balanced' : 'energized' : 'assertive' }}">{{ batiment.reception_rating }} / 10</span>
                    </a>
                </div>
            </div>
        </div>
        <button ng-show="dataScreen" class="button button-full button-royal" ng-click="urlComment()">
        Comment({{ commentCount }})
        </button>
        <button ng-show="dataScreen" class="button button-full button-dark" ng-click="urlTransport()">
        Transport
        </button>
    </ion-content>
</ion-view>
