<ion-view view-title="Favoris">
    <ion-content>
        <ul class="list">
            <li ng-show="objEmpty"><center>Aucun favoris</center></li>
            <li class="item" ng-repeat='item in data' ng-click='goDetail(item)'>
                {{item.titre}}<br />{{item.ville}}
            </li>
        </ul>
    </ion-content>
</ion-view>