
<ion-view view-title="Map">
    <ion-content scroll="false">
        <div id="map-canvas" style="width:100%;height:100vh;background-color:gray;" data-tap-disabled="true"></div>
    </ion-content>
</ion-view>