<ion-view view-title="Configuration">
    <ion-content>
        <div class="card">
            <div class="item item-divider">
            Profil
            </div>
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Nom</span>
                    <input type="text" placeholder="John Doe" ng-model='client.name' value='{{ client.name }}'>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Mail</span>
                    <input type="text" placeholder="john.doe@mail.com" ng-model='client.mail' value='{{ client.mail }}'>
                </label>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
            Accessibilité
            </div>
            <div class="item item-text-wrap">
                <ion-toggle toggle-class="toggle-calm" ng-repeat="item in profil"
                            ng-model="item.checked" ng-checked="item.checked">
                    {{ item.content }}
                </ion-toggle>
            </div>
        </div>
        <button class="button button-full button-balanced" ng-click='saveData(client)'>
        Sauvegarder
        </button>
        <button class="button button-full button-royal" ng-click='deleteData()'>
        Remmettre a zéro
        </button>
    </ion-content>
</ion-view>