<ion-view view-title="Transport">
    <ion-content>
        <div class="list">
            <div class="item item-divider">
                <center>Bus Station ( rayon : {{ radiusBus > 1000 ? ((radiusBus / 1000 ) | number : 1)  + ' km' : radiusBus + ' m' }} )</center>
            </div>
            <a class="item" ng-hide="busloading" href="#">
                Chargement en cours ...
            </a>
            <a class="item" href="#" ng-repeat="item in bus" ng-hide="busData">
                {{ item.fields.stop_name }}
                <span class="badge badge-assertive" style="background-color:{{ item.fields.distance_from > 150 ? 'red' : '#2574A9' }};">
                    {{ item.fields.distance_from }} m
                </span>
            </a>
            <a class="item" ng-hide="busplus" href="#" style="background-color:#67809F;color:white;" ng-click="addBus()">
                <center>Voir plus</center>
            </a>
            <div class="item item-divider">
                <center>Train Station ( rayon : {{ radiusTrain > 1000 ? ((radiusTrain / 1000 ) | number : 1)  + ' km' : radiusTrain + ' m' }} )</center>
            </div>
            <a class="item" ng-hide="trainloading" href="#">
                Chargement en cours ...
            </a>
            <a class="item" href="#" ng-repeat="item in train" ng-hide="trainData">
                {{ item.fields.nom }}
                <span class="badge badge-assertive" style="background-color:{{ item.fields.distance_from > 500 ? 'red' : '#2574A9' }};">
                    {{ item.fields.distance_from > 1000 ? ((item.fields.distance_from / 1000 ) | number : 1)  + ' km' : item.fields.distance_from + 'm' }}
                </span>
            </a>
            <a class="item" ng-hide="trainplus" href="#" style="background-color:#67809F;color:white;" ng-click="addTrain()">
                <center>Voir plus</center>
            </a>
        </div>
    </ion-content>
</ion-view>